header {
    @include background("background-header.jpg");
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;

    .menu{
        grid-row: 1;
        width: 100vw;
        height: 100px;
        position: fixed;
        z-index: 99999;
        padding: 60px;
        background-color: transparent;
        transition: all 1s ease;
        @include space-between(row);

            // Ver navegación al hacer click en el mobile menú
            &.active{
                background-color: rgba(0, 0, 0, .5);
                padding: 40px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 15px 0px;
            }

        .branding {
            color: white;
    
            .logo {

            }
        }
    
        .navbar {
            input{
                display: none
            }
            
            label{
                //Mobile First
                display: none;
                font-size: 3rem;
                color: white;
                opacity: 0;
                transition: all 1s ease;
                &.active{
                    display: block;
                    opacity: 1;
                }
                // < 992px
                @include media('large'){
                    display: none;
                    &.active{
                        display: none;
                    }
                }
            }

            #navContainer {
                // Mobile First
                display: none;
                // Ver navegación al hacer click en el mobile menú
                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: absolute;
                    padding: 100px 0px;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    width: 300px;
                    background-color: rgba(0, 0, 0, 1);
                }
                // < 992px (Navegación común)
                @include media('large'){
                    display: flex;
                }

                    li {
                        // Mobile First
                        list-style-type: none;
                        border-bottom: solid 1px rgba(255, 255, 255, .05);
                        width: 300px;
                        padding: 20px 10px;
                        // < 992px
                        @include media('large'){
                            width: auto;
                            border-bottom: none;
                            padding: 0;
                            margin: 0px 10px;
                        }
                        
                            .navElement {
                                text-decoration: none;
                                color: white;
                                font-size: 1.8rem;
                                    &:hover{
                                        color: $secundario;
                                    }
                            }
                    }
            }
        }
    }

    #elTablon{
        grid-row: 2;
        padding: 20px;
        background: center url(../../public/images/design/backgrounds/tablon-estudio-bg.png);
        background-repeat: no-repeat;
        background-size: 30%;
        @include center(column);

        // #elTablon < 992px
        @include media('large'){
            background: none;
            @include space-between(row);
        }

            .content{
                order: 2;
                text-align: center;
                height: auto;
                @include center(column);

                // .content < 992px
                @include media('large'){
                    justify-content: center;
                    align-items: flex-start;
                    text-align: justify;
                    width: 550px;
                    height: 100%;
                    order: 1;
                }
                @include media('huge'){
                    width: 630px;
                }
                    .title{
                        font-weight: bold;
                        font-size: 4rem;
                        @include media('small'){
                            font-size: 4.5rem;
                        }
                        @include media('large'){
                            font-size: 5rem;
                        }
                        @include media('huge'){
                            font-size: 6rem;
                        }
                    }
                    .data{
                        font-size: 1.7rem;
                        line-height: 2rem;
                        font-weight: 400;
                        display: inline;
                        @include media('large'){
                            font-size: 1.8rem;
                            line-height: 25px;
                        }
                        @include media('huge'){
                            font-size: 2rem;
                        }
                            h1, h2, h3{
                                font-size: 1.7rem;
                                font-weight: 400;
                                display: inline-block;
                                @include media('large'){
                                    font-size: 2rem;
                                }
                                @include media('huge'){
                                    font-size: 2rem;
                                }
                            }
                    }
                    .links{
                        margin-top: 20px;
                        a{
                            padding: 7.5px;
                            text-decoration: none;
                            color: white;
                            font-size: 2.2rem;
                            border: solid 1px rgba(255, 255, 255, .1);
                            background: $principal;
                            transition: all .5s ease;
                                &:hover{
                                    background: $secundario;
                                }
                        }
                    }
            }

            .graphic{
                order: 1;
                display: none;
                @include media('large'){
                    order: 2;
                    display: block;
                }
                    img{
                        animation: logo 10s infinite;
                        @include media('small'){
                            width: 400px;
                            height: 500px;
                            position: relative;
                            right: 100px;
                        }
                        @include media('xl'){
                            position: relative;
                            right: 100px;
                            width: 500px;
                            height: 600px;
                        }
                    }
            }
    }
}