main {
    width: 100%;

    #servicios{
        height: 100vh;
        @include background('background-services.jpg');
        @include center(column);
        @include media('large'){
            padding: 20px;
            align-items: flex-start;
            justify-content: space-evenly
        };
        @import 'main/services/content.scss';
        @import 'main/services/cards.scss';
        @import 'main/services/swiper-js.scss';
    }

    #portafolio{

    }

    #comunidad{

    }

    #contacto{

    }
}