main {
    width: 100%;

    #servicios{
        height: 100vh;
        @include background('background-services.jpg');
        @include center(column);
        @include media('large'){
            padding: 20px;
            align-items: flex-start;
            justify-content: space-evenly
        };
        @import 'main/services/content.scss';
        @import 'main/services/cards.scss';
        @import 'main/services/swiper-js.scss';
    }

    #portafolio{
        height: 1200px;
        @include media('medium'){
            height: 100vh;
        }
        @include background('background-portfolio.jpg');
        @include center(column);
        @include media('large'){
            padding: 20px;
            align-items: flex-start;
            justify-content: space-evenly
        };
        @import 'main/portfolio/content.scss';
        @import 'main/portfolio/swiper-js.scss';
    }

    #contacto{
        height: 100vh;
        @include background('background-comunity.jpg');
        @include space-between(column);
        @include media('large'){
            @include space-between(row);
        }
        @import 'main/contact/comunityAd.scss';
        @import 'main/contact/contacto.scss';
    
    }
}