@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  color: white; }
  body .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

html {
  font-size: 62.5%; }

body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-track {
  background: transparent; }

body::-webkit-scrollbar-thumb {
  background-color: #e9791a; }

header {
  background: center fixed url("../../public/images/design/backgrounds/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr; }
  header .menu {
    grid-row: 1;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 99999;
    padding: 60px;
    background-color: transparent;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .menu.active {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 40px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 15px 0px; }
    header .menu .branding {
      color: white; }
    header .menu .navbar input {
      display: none; }
    header .menu .navbar label {
      display: none;
      font-size: 3rem;
      color: white;
      opacity: 0;
      transition: all 1s ease; }
      header .menu .navbar label.active {
        display: block;
        opacity: 1; }
      @media (min-width: 992px) {
        header .menu .navbar label {
          display: none; }
          header .menu .navbar label.active {
            display: none; } }
    header .menu .navbar #navContainer {
      display: none; }
      header .menu .navbar #navContainer.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        padding: 100px 0px;
        left: 0;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: black; }
      @media (min-width: 992px) {
        header .menu .navbar #navContainer {
          display: flex; } }
      header .menu .navbar #navContainer li {
        list-style-type: none;
        border-bottom: solid 1px rgba(255, 255, 255, 0.05);
        width: 300px;
        padding: 20px 10px; }
        @media (min-width: 992px) {
          header .menu .navbar #navContainer li {
            width: auto;
            border-bottom: none;
            padding: 0;
            margin: 0px 10px; } }
        header .menu .navbar #navContainer li .navElement {
          text-decoration: none;
          color: white;
          font-size: 1.8rem; }
          header .menu .navbar #navContainer li .navElement:hover {
            color: #e9791a; }
  header #elTablon {
    grid-row: 2;
    padding: 20px;
    background: center url(../../public/images/design/backgrounds/tablon-estudio-bg.png);
    background-repeat: no-repeat;
    background-size: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 992px) {
      header #elTablon {
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
    header #elTablon .content {
      order: 2;
      text-align: center;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 992px) {
        header #elTablon .content {
          justify-content: center;
          align-items: flex-start;
          text-align: justify;
          width: 550px;
          height: 100%;
          order: 1; } }
      @media (min-width: 1200px) {
        header #elTablon .content {
          width: 630px; } }
      header #elTablon .content .title {
        font-weight: bold;
        font-size: 4rem; }
        @media (min-width: 576px) {
          header #elTablon .content .title {
            font-size: 4.5rem; } }
        @media (min-width: 992px) {
          header #elTablon .content .title {
            font-size: 5rem; } }
        @media (min-width: 1200px) {
          header #elTablon .content .title {
            font-size: 6rem; } }
      header #elTablon .content .data {
        font-size: 1.7rem;
        line-height: 2rem;
        font-weight: 400;
        display: inline; }
        @media (min-width: 992px) {
          header #elTablon .content .data {
            font-size: 1.8rem;
            line-height: 25px; } }
        @media (min-width: 1200px) {
          header #elTablon .content .data {
            font-size: 2rem; } }
        header #elTablon .content .data h1, header #elTablon .content .data h2, header #elTablon .content .data h3 {
          font-size: 1.7rem;
          font-weight: 400;
          display: inline-block; }
          @media (min-width: 992px) {
            header #elTablon .content .data h1, header #elTablon .content .data h2, header #elTablon .content .data h3 {
              font-size: 2rem; } }
          @media (min-width: 1200px) {
            header #elTablon .content .data h1, header #elTablon .content .data h2, header #elTablon .content .data h3 {
              font-size: 2rem; } }
      header #elTablon .content .links {
        margin-top: 20px; }
        header #elTablon .content .links a {
          padding: 7.5px;
          text-decoration: none;
          color: white;
          font-size: 2.2rem;
          border: solid 1px rgba(255, 255, 255, 0.1);
          background: #000443;
          transition: all .5s ease; }
          header #elTablon .content .links a:hover {
            background: #e9791a; }
    header #elTablon .graphic {
      order: 1;
      display: none; }
      @media (min-width: 992px) {
        header #elTablon .graphic {
          order: 2;
          display: block; } }
      header #elTablon .graphic img {
        animation: logo 10s infinite; }
        @media (min-width: 576px) {
          header #elTablon .graphic img {
            width: 400px;
            height: 500px;
            position: relative;
            right: 100px; } }
        @media (min-width: 1400px) {
          header #elTablon .graphic img {
            position: relative;
            right: 100px;
            width: 500px;
            height: 600px; } }

main {
  width: 100%; }
  main #servicios {
    height: 100vh;
    background: center fixed url("../../public/images/design/backgrounds/background-services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 992px) {
      main #servicios {
        padding: 20px;
        align-items: flex-start;
        justify-content: space-evenly; } }
    main #servicios .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: space-between; }
      @media (min-width: 992px) {
        main #servicios .content {
          flex-direction: row; } }
      main #servicios .content .text {
        order: 2;
        text-align: center;
        padding: 5px; }
        @media (min-width: 992px) {
          main #servicios .content .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;
            width: 650px; } }
        main #servicios .content .text .title h2 {
          font-weight: bold;
          font-size: 4rem; }
          @media (min-width: 576px) {
            main #servicios .content .text .title h2 {
              font-size: 4.5rem; } }
          @media (min-width: 992px) {
            main #servicios .content .text .title h2 {
              font-size: 5rem; } }
          @media (min-width: 1200px) {
            main #servicios .content .text .title h2 {
              font-size: 6rem; } }
        main #servicios .content .text .data {
          font-size: 1.7rem;
          line-height: 2rem;
          font-weight: 400;
          display: inline; }
          @media (min-width: 992px) {
            main #servicios .content .text .data {
              font-size: 1.8rem;
              line-height: 25px; } }
          @media (min-width: 1200px) {
            main #servicios .content .text .data {
              font-size: 2rem; } }
          main #servicios .content .text .data h1, main #servicios .content .text .data h2, main #servicios .content .text .data h3 {
            font-size: 1.7rem;
            font-weight: 400;
            display: inline-block; }
            @media (min-width: 992px) {
              main #servicios .content .text .data h1, main #servicios .content .text .data h2, main #servicios .content .text .data h3 {
                font-size: 2rem; } }
            @media (min-width: 1200px) {
              main #servicios .content .text .data h1, main #servicios .content .text .data h2, main #servicios .content .text .data h3 {
                font-size: 2rem; } }
      main #servicios .content .graphic {
        order: 1; }
        @media (min-width: 992px) {
          main #servicios .content .graphic {
            order: 2; } }
        main #servicios .content .graphic img {
          width: 64px;
          height: 64px;
          filter: invert(100%); }
          @media (min-width: 992px) {
            main #servicios .content .graphic img {
              width: auto;
              height: auto; } }
    main #servicios .cardsDesktop {
      display: none;
      align-self: center;
      flex-wrap: wrap; }
      @media (min-width: 1200px) {
        main #servicios .cardsDesktop {
          text-align: center;
          font-size: 18px;
          color: black;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center; } }
      main #servicios .cardsDesktop .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        width: 250px;
        margin: 0px 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        transition: all 1s ease;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
        main #servicios .cardsDesktop .service:hover {
          transform: scale(1.05); }
        main #servicios .cardsDesktop .service .title {
          width: 100%;
          padding: 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: #000443;
          border-end-start-radius: 30px;
          border-left: solid 2.5px #e9791a; }
        main #servicios .cardsDesktop .service .content {
          font-size: 1.4rem;
          padding: 10px;
          font-weight: 400;
          width: 100%;
          line-height: 1.9rem;
          text-align: center;
          display: inline; }
          main #servicios .cardsDesktop .service .content h3 {
            font-size: 1.4rem;
            font-weight: 400;
            display: inline-block; }
        main #servicios .cardsDesktop .service .whatsapp {
          text-decoration: none;
          color: white;
          font-size: 2rem;
          padding: 10px;
          width: 100%;
          border-top: solid 1px rgba(255, 255, 255, 0.05);
          background-color: burlywood;
          color: black;
          font-weight: 600;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
    main #servicios .swiper {
      width: 350px;
      height: 400px;
      position: relative;
      top: 40px; }
      @media (min-width: 768px) {
        main #servicios .swiper {
          width: 700px; } }
      @media (min-width: 1100px) {
        main #servicios .swiper {
          width: 1050px; } }
      @media (min-width: 1200px) {
        main #servicios .swiper {
          display: none; } }
      main #servicios .swiper .swiper-wrapper .swiper-slide {
        text-align: center;
        font-size: 18px;
        color: black;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
        main #servicios .swiper .swiper-wrapper .swiper-slide .service {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 400px;
          width: 250px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 5px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
          main #servicios .swiper .swiper-wrapper .swiper-slide .service .title {
            width: 100%;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #000443;
            border-end-start-radius: 30px;
            border-left: solid 2.5px #e9791a; }
          main #servicios .swiper .swiper-wrapper .swiper-slide .service .content {
            font-size: 1.4rem;
            padding: 10px;
            font-weight: 400;
            line-height: 1.9rem;
            width: 100%;
            text-align: center;
            display: inline; }
            main #servicios .swiper .swiper-wrapper .swiper-slide .service .content h3 {
              font-size: 1.4rem;
              font-weight: 400;
              display: inline-block; }
          main #servicios .swiper .swiper-wrapper .swiper-slide .service .whatsapp {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            padding: 10px;
            width: 100%;
            border-top: solid 1px rgba(255, 255, 255, 0.05);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: burlywood;
            color: black;
            font-weight: 600; }
      main #servicios .swiper .swiper-button-next,
      main #servicios .swiper .swiper-button-prev {
        color: #e9791a; }
      main #servicios .swiper .swiper-pagination {
        position: absolute;
        border: solid 1px red;
        bottom: -10px;
        z-index: 88888; }
      main #servicios .swiper .swiper-pagination-bullet {
        background-color: #e9791a; }
  main #portafolio {
    height: 1200px;
    background: center fixed url("../../public/images/design/backgrounds/background-portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      main #portafolio {
        height: 100vh; } }
    @media (min-width: 992px) {
      main #portafolio {
        padding: 20px;
        align-items: flex-start;
        justify-content: space-evenly; } }
    main #portafolio .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      @media (min-width: 992px) {
        main #portafolio .content {
          flex-direction: row; } }
      main #portafolio .content .text {
        order: 2;
        text-align: center;
        padding: 5px; }
        @media (min-width: 992px) {
          main #portafolio .content .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: start;
            width: 400px; } }
        main #portafolio .content .text .title h2 {
          font-weight: bold;
          font-size: 4rem; }
          @media (min-width: 576px) {
            main #portafolio .content .text .title h2 {
              font-size: 4.5rem; } }
          @media (min-width: 992px) {
            main #portafolio .content .text .title h2 {
              font-size: 5rem; } }
          @media (min-width: 1200px) {
            main #portafolio .content .text .title h2 {
              font-size: 6rem; } }
        main #portafolio .content .text .data {
          font-size: 1.7rem;
          line-height: 2rem;
          font-weight: 400;
          display: inline; }
          @media (min-width: 992px) {
            main #portafolio .content .text .data {
              font-size: 1.8rem;
              line-height: 25px; } }
          @media (min-width: 1200px) {
            main #portafolio .content .text .data {
              font-size: 2rem; } }
          main #portafolio .content .text .data h1, main #portafolio .content .text .data h2, main #portafolio .content .text .data h3 {
            font-size: 1.7rem;
            font-weight: 400;
            display: inline-block; }
            @media (min-width: 992px) {
              main #portafolio .content .text .data h1, main #portafolio .content .text .data h2, main #portafolio .content .text .data h3 {
                font-size: 2rem; } }
            @media (min-width: 1200px) {
              main #portafolio .content .text .data h1, main #portafolio .content .text .data h2, main #portafolio .content .text .data h3 {
                font-size: 2rem; } }
      main #portafolio .content .graphic {
        order: 1; }
        @media (min-width: 992px) {
          main #portafolio .content .graphic {
            order: 1; } }
        main #portafolio .content .graphic img {
          width: 64px;
          height: 64px;
          filter: invert(100%); }
          @media (min-width: 992px) {
            main #portafolio .content .graphic img {
              width: auto;
              height: auto; } }
    main #portafolio .swiper {
      width: 100%;
      position: relative;
      top: 40px; }
      main #portafolio .swiper .swiper-wrapper .swiper-slide {
        text-align: center;
        font-size: 18px;
        color: black;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
        main #portafolio .swiper .swiper-wrapper .swiper-slide .artist {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          width: 100%; }
          @media (min-width: 768px) {
            main #portafolio .swiper .swiper-wrapper .swiper-slide .artist {
              flex-direction: row; } }
          main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card {
            width: 320px;
            height: 400px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            color: white; }
            main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              border-bottom: solid 1px rgba(255, 255, 255, 0.1);
              background-size: cover;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.saje {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/saje.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.mangos {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/mangos.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.bmc {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/bmc.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.lasta {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/lasta.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.oriental {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/oriental.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.nfsc img.nofun {
                width: 50px;
                height: 50px;
                position: relative;
                right: 10px;
                background-color: black;
                border-radius: 100%;
                padding: 5px;
                box-shadow: rgba(0, 170, 14, 0.35) 0px 5px 15px;
                animation: nofun 5s infinite;
                transition: all .5s ease;
                cursor: pointer; }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.nfsc img.nofun:hover {
                  animation: nofunFloat 3s infinite; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.stepa {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/stepa.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -110px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.cino {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/cino.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -80px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.lisa {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/lisa.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -80px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.broyer {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/broyer.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -80px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.kloster {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/kloster.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -60px; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka.simbiosis {
                background: center fixed url("../../public/images/design/backgrounds/backgrounds-artists/simbiosis.jpg");
                background-repeat: no-repeat;
                background-size: cover; }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka picture {
                border-right: solid 1px rgba(255, 255, 255, 0.2);
                padding: 10px 20px; }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka picture img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  animation: float 5s infinite;
                  border-right: solid 1px rgba(255, 255, 255, 0.5); }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .aka h2 {
                font-size: 2.4rem;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center; }
            main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .content {
              width: 100%;
              text-align: center;
              padding: 20px;
              font-size: 1.6rem;
              line-height: 2.2rem;
              display: inline-block; }
            main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social {
              border-top: solid 1px rgba(255, 255, 255, 0.1);
              display: flex;
              align-items: center;
              height: 60px;
              justify-content: space-evenly;
              background-color: rgba(0, 0, 0, 0.5); }
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social a {
                font-size: 2.5rem;
                color: white; }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social a i {
                  padding: 5px;
                  border-radius: 5px; }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social a .fa-instagram:hover {
                  background: #f09433;
                  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social a .fa-youtube:hover {
                  background-color: red; }
                main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .card .social a .fa-spotify:hover {
                  background-color: green; }
          main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .song iframe {
            width: 320px;
            height: 400px;
            margin: 20px 0px;
            border: solid 1px rgba(255, 255, 255, 0.2); }
            @media (min-width: 992px) {
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .song iframe {
                margin: 0;
                width: 500px;
                height: 400px; } }
            @media (min-width: 1200px) {
              main #portafolio .swiper .swiper-wrapper .swiper-slide .artist .song iframe {
                width: 600px;
                height: 400px; } }
      main #portafolio .swiper .swiper-button-next,
      main #portafolio .swiper .swiper-button-prev {
        color: #e9791a; }
      main #portafolio .swiper .swiper-pagination-bullet {
        background-color: #e9791a; }
  main #comunidad {
    height: 1200px;
    background: center fixed url("../../public/images/design/backgrounds/background-community.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      main #comunidad {
        height: 100vh; } }
    @media (min-width: 992px) {
      main #comunidad {
        padding: 20px;
        align-items: flex-start;
        justify-content: space-evenly; } }
    main #comunidad .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      @media (min-width: 992px) {
        main #comunidad .content {
          flex-direction: column; } }
      main #comunidad .content .text {
        order: 2;
        text-align: center;
        padding: 5px;
        width: auto; }
        @media (min-width: 576px) {
          main #comunidad .content .text {
            width: 500px; } }
        main #comunidad .content .text .title h2 {
          font-weight: bold;
          font-size: 4rem; }
          @media (min-width: 576px) {
            main #comunidad .content .text .title h2 {
              font-size: 4.5rem; } }
          @media (min-width: 992px) {
            main #comunidad .content .text .title h2 {
              font-size: 5rem; } }
          @media (min-width: 1200px) {
            main #comunidad .content .text .title h2 {
              font-size: 6rem; } }
        main #comunidad .content .text .data {
          font-size: 1.7rem;
          line-height: 2rem;
          font-weight: 400;
          display: inline; }
          @media (min-width: 992px) {
            main #comunidad .content .text .data {
              font-size: 1.8rem;
              line-height: 25px; } }
          @media (min-width: 1200px) {
            main #comunidad .content .text .data {
              font-size: 2rem; } }
          main #comunidad .content .text .data h1, main #comunidad .content .text .data h2, main #comunidad .content .text .data h3 {
            font-size: 1.7rem;
            font-weight: 400;
            display: inline-block; }
            @media (min-width: 992px) {
              main #comunidad .content .text .data h1, main #comunidad .content .text .data h2, main #comunidad .content .text .data h3 {
                font-size: 2rem; } }
            @media (min-width: 1200px) {
              main #comunidad .content .text .data h1, main #comunidad .content .text .data h2, main #comunidad .content .text .data h3 {
                font-size: 2rem; } }
      main #comunidad .content .graphic {
        order: 1; }
        @media (min-width: 992px) {
          main #comunidad .content .graphic {
            order: 1; } }
        main #comunidad .content .graphic img {
          width: 64px;
          height: 64px;
          filter: invert(100%); }
          @media (min-width: 992px) {
            main #comunidad .content .graphic img {
              width: auto;
              height: auto; } }

@keyframes logo {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-15deg);
    filter: drop-shadow(0px 10px #090041); }
  100% {
    transform: rotate(0deg);
    filter: drop-shadow(0px 0px #090041); } }

@keyframes float {
  0% {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(5px); }
  50% {
    box-shadow: 0 15px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px); }
  100% {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(5px); } }

@keyframes nofun {
  0% {
    box-shadow: rgba(0, 170, 14, 0.35) 0px 2px 4px 0px, rgba(0, 170, 14, 0.35) 0px 2px 16px 0px; }
  50% {
    box-shadow: rgba(0, 170, 14, 0) 0px 0px 0px 0px, rgba(0, 170, 14, 0) 0px 0px 0px 0px; }
  100% {
    box-shadow: rgba(0, 170, 14, 0.35) 0px 2px 4px 0px, rgba(0, 170, 14, 0.35) 0px 2px 16px 0px; } }

@keyframes nofunFloat {
  0% {
    box-shadow: rgba(0, 170, 14, 0.35) 0px 2px 4px 0px, rgba(0, 170, 14, 0.35) 0px 2px 16px 0px;
    transform: translatex(2px); }
  50% {
    box-shadow: rgba(0, 170, 14, 0) 0px 0px 0px 0px, rgba(0, 170, 14, 0) 0px 0px 0px 0px;
    transform: translatex(-2px); }
  100% {
    box-shadow: rgba(0, 170, 14, 0.35) 0px 2px 4px 0px, rgba(0, 170, 14, 0.35) 0px 2px 16px 0px;
    transform: translatex(2px); } }
