// Puntos de quiebre //

$breakpoints: ('small': (min-width: 576px),
    'medium': (min-width: 768px),
    'large': (min-width: 992px),
    'huge': (min-width: 1200px),
);

// Función para llamar vía @include respond-to('breakpoint') //

@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(type-of($raw-query)=='string',
                unquote($raw-query),
                inspect($raw-query));

        @media #{$query} {
            @content;
        }
    }

    @else {
        @error 'No se ha encontrado un valor para `#{$breakpoint}`. '
        +'Por favor, asegúrate que está definido en el mapa `$breakpoints`.';
    }
}