*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 100%;
    }
}

html{
    font-size: 62.5%;
}